{% extends 'shared/layout.html' %}

{% block title %}
    {{ u[1] }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-3">
        <h2>Brand</h2>
        <ul>
            {% for v in brr %}
                <li>
                    <a href="/home/brand/{{v[0]}}">{{v[1]}}</a>
                </li>
            {% endfor %}
        </ul>

        <h2>Category</h2>
        <ul>
            {% for v in crr %}
                <li>
                    <a href="/home/category/{{v[0]}}">{{v[1]}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-9">
        <h1><b>{{u[1]}}</b></h1>
        <img class="img-fluid" src="/image/{{u[5]}}">
        <p>Price: <b>{{u[4]}}</b>VND</p>
        <p>Description: <b>{{u[-1]}}</b></p>
        <form method="post" action="/cart/add">
            <input type="number" name='quantity' value="1" min="1">
            <input type="hidden" name="productid" value="{{u[0]}}">
            <button class="btn btn-primary">Add to Cart</button>
        </form>
        <h2><b>Products Relation</b></h2>
        <div class="row">
        {% for v in arr %}
            <div class="col-3">
                <div class="pro">
                    <h4 class="title">
                        <a href="/home/detail/{{v[0]}}">{{v[1]}}</a>
                    </h4>
                    <a href="/home/detail/{{v[0]}}"><img class="img-fluid" src="/image/{{v[5]}}"></a>
                    <div>Price: <b>{{v[4]}}</b>VND</div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}